/** Prefixed by https://autoprefixer.github.io* PostCSS: v7.0.29,* Autoprefixer: v9.7.6* Browsers: last 4 version*/ /* @include adaptiv-font(40, 16); */
@import url(import/swiper.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: "Lekton";
  src: url("../fonts/lekton/Lekton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lekton Bold";
  src: url("../fonts/lekton/Lekton-Bold.woff") format("woff");
}
@font-face {
  font-family: "Lekton Italic";
  src: url("../fonts/lekton/Lekton-Italic.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald Bold";
  src: url("../fonts/Oswald/Oswald-Bold.woff") format("woff");
}
@font-face {
  font-family: "Oswald Italic";
  src: url("../fonts/Oswald/Oswald-Italic.woff") format("woff");
}
html {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.btn {
  padding: 0.1875rem 2.6875rem;
  border: 1px solid #9a977a;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  word-wrap: anywhere;
}
.btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.soc-media__icon {
  font-size: calc(16px + 0.5 * ((100vw - 320px) / (1300 - 320)));
}
.title {
  font-size: calc(20px + 10 * ((100vw - 320px) / (1300 - 320)));
  color: #303030;
  line-height: calc(20px + 10 * ((100vw - 320px) / (1300 - 320)));
}
.heading {
  font-size: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
  color: #848484;
}
.title,
.heading {
  text-transform: uppercase;
}
.text {
  font-size: calc(14px + 2 * ((100vw - 320px) / (1300 - 320)));
  color: #848484;
}
.nav-text {
  font-size: calc(12px + 2 * ((100vw - 320px) / (1300 - 320)));
  color: #848484;
}
.quote {
  font-size: calc(18px + 6 * ((100vw - 320px) / (1300 - 320)));
}
.title,
.heading,
.text,
.nav-text,
.quote {
  word-wrap: anywhere;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
.header,
.main,
.footer {
  max-width: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
main {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
footer {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.header .menu-burger__icon > .soc-media__icon {
  font-size: calc(18px + 6 * ((100vw - 320px) / (1300 - 320)));
  color: #4bc7c7;
  cursor: pointer;
}
.header .menu-burger__icon > .soc-media__icon:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header #menu-checkbox {
  display: none;
}
.header #menu-checkbox:checked + .menu {
  display: block;
}
.header .left-part {
  position: relative;
  padding: 2.1875rem 1.5625rem;
  background-color: #f0d93e;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.header .left-part .menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #60d4d4;
  width: 100%;
  height: 100%;
  animation: menu 0.5s ease-out;
}
.header .left-part .menu .inner {
  padding: 2.625rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .left-part .menu .inner .close {
  color: #f0d93e;
  font-size: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
  cursor: pointer;
}
.header .left-part .menu .inner .close:hover {
  color: #fdeecf;
}
.header .left-part .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-right: 6.25rem;
}
.header .left-part .menu__item {
  padding: 0 0.625rem;
  border-right: 1px solid #f0d93e;
}
.header .left-part .menu__item:last-child {
  border: none;
}
.header .left-part .menu__link {
  color: #f0d93e;
  text-transform: uppercase;
}
.header .left-part .menu__link:hover {
  color: #fdeecf;
}
.header .left-part .inner {
  padding: 3.75rem 4.6875rem;
  padding-bottom: 0.9375rem;
}
.header .left-part .inner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 8.4375rem;
}
.header .left-part .inner .content .logo {
  margin-bottom: 10px;
}
.header .left-part .inner .content .title {
  white-space: pre-line;
  color: #46b4b4;
}
.header .left-part .inner .content .title::first-line {
  color: #4eabab;
}
.header .left-part .inner .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .left-part .inner .media .soc-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  max-width: 35%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .left-part .inner .media .soc-media__icon {
  color: #46b4b4;
}
.header .left-part .inner .media .soc-media__icon:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .left-part .inner .media .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .left-part .inner .media .contact .phone {
  font-family: "Lekton";
  color: #46b4b4;
}
.header .left-part .inner .media .contact .phone:hover {
  color: #fff;
}
.header .right-part {
  background-image: -webkit-gradient(linear, left top, right top, from(#dfd8c6), to(#d2cab7));
  background-image: -o-linear-gradient(left, #dfd8c6 0%, #d2cab7 100%);
  background-image: linear-gradient(90deg, #dfd8c6 0%, #d2cab7 100%);
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 7.5rem 13.4375rem 3.125rem 13.4375rem;
}
.header .right-part .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  font-family: "Lekton";
  text-transform: uppercase;
}
.header .right-part .content .details span {
  color: #fdeecf;
}
.header .right-part .content .details .nav-text {
  color: #fff;
  line-height: calc(18px + 2 * ((100vw - 320px) / (1300 - 320)));
}
.header .right-part .content .btn__wrapper {
  margin-top: 0.9375rem;
}
.header .right-part .content .btn__wrapper .btn:hover {
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .right-part .content .btn__wrapper .btn:active {
  background-color: #fff;
  color: #000;
}
.footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.footer .inner .contact-form {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 3.125rem 5.3125rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#dfd8c6), to(#d2cab7));
  background-image: -o-linear-gradient(left, #dfd8c6 0%, #d2cab7 100%);
  background-image: linear-gradient(90deg, #dfd8c6 0%, #d2cab7 100%);
  font-family: "Lekton";
}
.footer .inner .contact-form .quote {
  text-transform: uppercase;
  color: #646250;
}
.footer .inner .contact-form .text {
  font-size: calc(11.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  text-transform: uppercase;
  line-height: calc(13.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  color: #646250;
}
.footer .inner .contact-form .form {
  padding: 2.8125rem 3.125rem 0 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.footer .inner .contact-form .form__input {
  padding: 0.3125rem 0;
  color: #a6a385;
  border: none;
  border-bottom: 2px solid #a6a385;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 1.875rem;
}
.footer .inner .contact-form .form .btn {
  padding: 0.625rem 2.8125rem;
}
.footer .inner .contact-form .form .btn:hover {
  background-color: #fff;
  color: #9a977a;
}
.footer .inner .contact-form .form .btn__wrapper {
  padding-top: 1.25rem;
}
.footer .inner .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f0d93e;
  padding: 7.1875rem 7.1875rem 1.5625rem 7.1875rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.footer .inner .contacts .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.footer .inner .contacts .content .company-name {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.footer .inner .contacts .content .company-name .title {
  font-size: calc(18px + 6 * ((100vw - 320px) / (1300 - 320)));
  color: #4eabab;
}
.footer .inner .contacts .content .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  font-family: "Lekton";
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
}
.footer .inner .contacts .content .address .text {
  white-space: pre-line;
  font-size: calc(12.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  line-height: calc(13.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  color: #333;
  text-transform: uppercase;
}
.footer .inner .contacts .content .address .text:first-child {
  margin-bottom: 0.9375rem;
}
.footer .inner .contacts .content .address .mail {
  color: #60d4d4;
}
.footer .inner .contacts .content .address .mail:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .inner .contacts .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6.25rem;
}
.footer .inner .contacts .media .soc-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  max-width: 35%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .inner .contacts .media .soc-media__icon {
  color: #46b4b4;
}
.footer .inner .contacts .media .soc-media__icon:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .inner .contacts .copyright {
  width: 63%;
  margin: 0 auto;
  text-align: center;
}
.footer .inner .contacts .copyright .text {
  font-family: "Lekton";
  font-size: calc(12.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  line-height: calc(13.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  color: #000;
  margin-bottom: 0.875rem;
  font-weight: 600;
}
.footer .inner .contacts .copyright .text:last-child {
  margin-bottom: 0;
}
.about-us {
  padding: 9.375rem 3.75rem;
  font-family: "Lekton";
  line-height: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
}
.about-us .caption {
  padding: 0 11.5625rem 8.4375rem 11.5625rem;
  text-align: center;
}
.about-us .caption .title {
  margin-bottom: 2.5rem;
  font-weight: 100;
}
.about-us .caption .text {
  text-transform: none;
  letter-spacing: 0.1em;
  color: #303030;
  margin-bottom: 0.625rem;
}
.about-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.about-us .content .article {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1.25rem;
  margin-bottom: 0.9375rem;
}
.about-us .content .article .subtitle {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #303030;
  margin-bottom: 0.625rem;
}
.about-us .content .article .subtitle::before {
  content: "";
  display: block;
  width: 5px;
  height: 15px;
  background-color: #60d4d4;
  float: left;
  margin-right: 0.3125rem;
}
.about-us .content .article .nav-text {
  color: #303030;
}
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: "Lekton";
}
.team .block {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  height: 31.25rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}
.team .block:nth-child(even) {
  text-align: right;
}
.team .block:hover .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.team .block:hover .back {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.team .block .front .subtitle {
  color: #000;
}
.team .block .front .nav-text {
  color: #000;
}
.team .block .front .soc-media__icon {
  color: #000;
}
.team .block .front .soc-media__icon:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team .block .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.team .block .back .subtitle {
  color: #fff;
}
.team .block .back .nav-text {
  color: #fff;
}
.team .block .back .soc-media__icon {
  color: #fff;
}
.team .block .back .soc-media__icon:hover {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team .block .front,
.team .block .back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 4.25rem 2.1875rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.team .block .front .title,
.team .block .back .title {
  line-height: calc(18px + 6 * ((100vw - 320px) / (1300 - 320)));
  margin-bottom: 0.625rem;
  color: #60d4d4;
}
.team .block .front .subtitle,
.team .block .back .subtitle {
  text-transform: uppercase;
  line-height: calc(18px + 6 * ((100vw - 320px) / (1300 - 320)));
  margin-bottom: 0.3125rem;
}
.team .block .front .nav-text,
.team .block .back .nav-text {
  line-height: calc(12px + 2 * ((100vw - 320px) / (1300 - 320)));
}
.team .block .front .soc-media,
.team .block .back .soc-media {
  margin-top: 0.625rem;
}
.team .john .front {
  background-image: url(../img/john_front.jpg);
  background-size: cover;
  background-position: top right;
}
.team .john .back {
  background-image: url(../img/john_back.jpg);
  background-size: cover;
  background-position: top right;
}
.team .emma .front {
  background-image: url(../img/emma_front.jpg);
  background-size: cover;
  background-position: top right;
}
.team .emma .back {
  background-image: url(../img/emma_back.jpg);
  background-size: cover;
  background-position: top right;
}
.team .ron .front {
  background-image: url(../img/ron_front.jpg);
  background-size: cover;
  background-position: top right;
}
.team .ron .back {
  background-image: url(../img/ron_back.jpg);
  background-size: cover;
  background-position: top right;
}
.team .ron .back .nav-text {
  color: #000;
}
.team .ron .back .soc-media__icon {
  color: #000;
}
.team .ron .back .soc-media__icon:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team .lara .front {
  background-image: url(../img/lara_front.jpg);
  background-size: cover;
  background-position: top right;
}
.team .lara .back {
  background-image: url(../img/lara_back.jpg);
  background-size: cover;
  background-position: top right;
}
.team .lara .back .nav-text {
  color: #000;
}
.team .lara .back .soc-media__icon {
  color: #000;
}
.team .lara .back .soc-media__icon:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.process {
  padding: 10.9375rem 5.3125rem 9.6875rem 5.3125rem;
  line-height: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
  font-family: "Lekton";
  background-color: #f7f7f7;
}
.process .caption {
  padding: 0 11.5625rem 7.8125rem 11.5625rem;
  text-align: center;
}
.process .caption .title {
  margin-bottom: 2.5rem;
  font-weight: 100;
}
.process .caption .text {
  text-transform: none;
  letter-spacing: 0.1em;
  color: #303030;
  margin-bottom: 0.625rem;
}
.process .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.process .content .block {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0.625rem 1.25rem;
  animation: rollIn 2s ease;
}
.process .content .block .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #46b4b4;
  width: 5rem;
  height: 5rem;
  border: 2px solid #46b4b4;
  border-radius: 50%;
  font-size: calc(35.5px + 0.5 * ((100vw - 320px) / (1300 - 320)));
  margin-bottom: 1.25rem;
}
.process .content .block .subtitle {
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}
.portfolio {
  padding: 10.9375rem 0 10.3125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
}
.portfolio .title {
  font-weight: 100;
}
.portfolio .nav-portfolio {
  padding: 2.1875rem 0;
}
.portfolio .nav-portfolio__link {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Lekton";
  color: #303030;
  border-right: 1px solid #303030;
  padding: 0 0.625rem;
  height: 1rem;
  margin-bottom: 3.125rem;
}
.portfolio .nav-portfolio__link:last-child {
  border-right: none;
}
.portfolio .nav-portfolio__link:hover {
  color: #4eabab;
}
.portfolio .block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.333%) [3];
  grid-template-columns: repeat(3, 33.333%);
  -ms-grid-rows: (250px) [4];
  grid-template-rows: repeat(4, 250px);
  grid-auto-flow: row dense;
  width: 100%;
  margin-bottom: 5.3125rem;
}
.portfolio .block > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.portfolio .block > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.portfolio .block > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.portfolio .block > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.portfolio .block > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.portfolio .block > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.portfolio .block > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.portfolio .block > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.portfolio .block > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.portfolio .block > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.portfolio .block > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.portfolio .block > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.portfolio .block .portfolio__item {
  width: 100%;
  height: 250px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: "Lekton";
  letter-spacing: 0.1em;
  line-height: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio .block .portfolio__item:nth-child(-n + 9) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .block .portfolio__item:hover .front {
  display: none;
}
.portfolio .block .portfolio__item:hover .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .block .portfolio__item--big {
  height: 500px;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.portfolio .block .portfolio__item .front {
  padding: 0 4.375rem;
}
.portfolio .block .portfolio__item .front .heading {
  text-transform: uppercase;
  color: #000;
  font-weight: 100;
}
.portfolio .block .portfolio__item .front .nav-text {
  color: #000;
}
.portfolio .block .portfolio__item .text-right {
  margin: 0 0 0 auto;
}
.portfolio .block .portfolio__item .text-left {
  margin: 0 auto 0 0;
}
.portfolio .block .portfolio__item .back {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 4.375rem;
}
.portfolio .block .portfolio__item .back .capture {
  text-align: left;
  margin-bottom: 2.8125rem;
}
.portfolio .block .portfolio__item .back .capture .nav-text {
  text-transform: uppercase;
  color: #000;
}
.portfolio .block .portfolio__item .back .capture .nav-text span {
  color: #60d4d4;
}
.portfolio .block .portfolio__item .back .btn {
  color: #60d4d4;
  padding: 0.625rem 2.8125rem;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1300 - 320)));
}
.portfolio .block .portfolio__item .back .btn:hover {
  background-color: #fff;
}
.portfolio .block .f54759 {
  background: url(../img/portfolio_bg.jpg) no-repeat;
  background-size: cover;
}
.portfolio .block .e0d7cd {
  background-color: #e0d7cd;
}
.portfolio .block .e3d3c8 {
  background-color: #e3d3c8;
}
.portfolio .block .dbdbd3 {
  background-color: #dbdbd3;
}
.portfolio .block .e6e6e6 {
  background-color: #e6e6e6;
}
.portfolio .block .c-513c4b {
  background-color: #513c4b;
}
.portfolio .block .c-513c4b .front .capture .heading,
.portfolio .block .c-513c4b .front .capture .nav-text {
  color: #60d4d4;
}
.portfolio .block .d6f0ed {
  background-color: #d6f0ed;
}
.portfolio .block .f2eed4 {
  background-color: #f2eed4;
}
.portfolio .block .f0d93e {
  background-color: #f0d93e;
}
.portfolio .load-more {
  color: #303030;
}
.portfolio .load-more:hover {
  color: #46b4b4;
}
.stats {
  padding: 3.4375rem 0 6.875rem 0;
  background-color: #f3f2f2;
  font-family: "Oswald";
}
.stats .title {
  color: #60d4d4;
  font-weight: 100;
  text-align: center;
  margin-bottom: 4.375rem;
}
.stats__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.stats__inner .block {
  -ms-flex-preferred-size: 16.6%;
  flex-basis: 16.6%;
  max-width: 16.6%;
  padding: 0.625rem 0;
  text-align: center;
}
.stats__inner .block .media {
  margin-bottom: 3.125rem;
}
.stats__inner .block .content .text {
  color: #60d4d4;
  text-transform: uppercase;
}
.blog {
  padding: 11.5625rem 5rem;
}
.blog .title {
  font-family: "Oswald";
  text-align: center;
}
.blog .inner {
  font-family: "Lekton";
  padding-top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.blog .inner .block {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0.9375rem;
}
.blog .inner .block .media {
  background-color: #8ddbcb;
  height: 12.5rem;
  margin-bottom: 1.5625rem;
}
.blog .inner .block .content__title {
  display: block;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: #303030;
  text-transform: uppercase;
  height: 1.875rem;
  overflow: hidden;
}
.blog .inner .block .content__text {
  height: 4.375rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: calc(16px + 2 * ((100vw - 320px) / (1300 - 320)));
  letter-spacing: 0.1em;
  color: #303030;
}
.blog .inner .block .content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.625rem;
}
.blog .inner .block .content__footer .author {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  color: #60d4d4;
}
.blog .inner .block .content__footer .author span {
  font-weight: 700;
  text-transform: uppercase;
}
.blog .inner .block .content__footer .link {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  text-align: right;
  color: red;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog .inner .block .content__footer .link:hover {
  color: #303030;
}
.blog .inner .block--wide {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.blog .inner .block--wide .media {
  background-color: #f3f2f2;
}
.clients {
  padding: 4.6875rem 0;
  background-color: #f2f2f2;
}
.clients .slider-slick {
  padding: 3.125rem 0 5rem 0;
}
.clients .slider-slick .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 98%;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #97c2be;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}
.clients .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #60d4d4;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #60d4d4;
}
.twitter {
  padding: 11.875rem 0;
  font-family: "Lekton Italic";
}
.twitter .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}
.twitter .post .icon {
  color: #60d4d4;
  font-size: 1.875rem;
  margin-bottom: 2.5rem;
}
.twitter .post .quote {
  color: #686868;
  text-align: left;
  line-height: calc(18px + 6 * ((100vw - 320px) / (1300 - 320)));
  margin-bottom: 0.625rem;
}
.twitter .post .quote a {
  color: #6cc5d9;
}
.twitter .post .time {
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: calc(11px + 1 * ((100vw - 320px) / (1300 - 320)));
  color: #f48258;
  font-family: "Lekton";
  font-weight: 700;
}
.twitter .post .time::before {
  content: "";
  width: 1.6875rem;
  height: 1px;
  background-color: #f2f2f2;
  margin-right: 3px;
}
.twitter .post .time::after {
  content: "";
  width: 35%;
  height: 1px;
  background-color: #f2f2f2;
  margin-left: 3px;
}
#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}
#popup .inner {
  position: relative;
  padding: 6.25rem 5rem;
}
#popup .inner .close {
  position: absolute;
  top: 5%;
  right: 10%;
  color: #f0d93e;
}
#popup .inner .close:hover {
  color: #fdeecf;
  cursor: pointer;
}
#popup .inner .popupbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
#popup .inner .popupbody .media {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  max-width: 60%;
  padding-right: 8.125rem;
}
#popup .inner .popupbody .media .popup__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #e6e6e6;
}
#popup .inner .popupbody .media .popup__img .picture__wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#popup .inner .popupbody .media .navigations {
  margin: 0 auto;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}
#popup .inner .popupbody .media .navigations a {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#popup .inner .popupbody .media .navigations a:hover {
  color: #848484;
}
#popup .inner .popupbody .media .count__wrapper {
  text-align: center;
}
#popup .inner .popupbody .media .count__wrapper .count {
  font-family: "Lekton Italic";
  font-weight: 900;
  color: #362f2f;
}
#popup .inner .popupbody .media .reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3.125rem;
}
#popup .inner .popupbody .media .reaction__links {
  color: #46b4b4;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#popup .inner .popupbody .media .reaction__links:hover {
  color: #848484;
}
#popup .inner .popupbody .media .reaction .like--red {
  color: #fe0000;
}
#popup .inner .popupbody .content {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  max-width: 23%;
  background-color: #60d4d4;
  padding: 5.625rem 1.25rem 1.25rem 1.25rem;
  font-family: "Lekton";
}
#popup .inner .popupbody .content__main {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}
#popup .inner .popupbody .content__main span {
  color: #fdeecf;
  cursor: text;
}
#popup .inner .popupbody .content__text {
  line-height: calc(12px + 2 * ((100vw - 320px) / (1300 - 320)));
  margin-bottom: 4.375rem;
}
#popup .inner .popupbody .content__text p {
  color: #362f2f;
  white-space: pre-line;
}
#popup .inner .popupbody .nav {
  -ms-flex-preferred-size: 17%;
  flex-basis: 17%;
  max-width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
#popup .inner .popupbody .nav__li {
  font-family: "Lekton";
  text-transform: uppercase;
  color: #46b4b4;
  margin-bottom: 0.625rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#popup .inner .popupbody .nav__li:hover {
  color: #848484;
}
@media screen and (max-width: 1200px) {
  .header .right-part {
    padding: 5rem 9.6875rem 1.25rem 9.6875rem;
  }
  .header .left-part .inner {
    padding: 1.5625rem 0.9375rem;
  }
  .header .left-part .inner .content {
    margin-bottom: 5.625rem;
  }
  .footer .inner .contact-form {
    padding: 3.125rem;
  }
  .footer .inner .contacts {
    padding: 3.125rem;
  }
  .wrapper {
    max-width: 1200px;
  }
  .about-us {
    padding: 3.125rem 1.875rem;
  }
  .about-us .caption {
    padding: 0 9.375rem 3.125rem 9.375rem;
  }
  .process {
    padding: 3.125rem 3.125rem;
  }
  .process .caption {
    padding: 0 9.375rem 5rem 9.375rem;
  }
  .portfolio {
    padding: 3.125rem 0rem;
  }
  .portfolio .nav-portfolio__link {
    margin-bottom: 0;
  }
  .portfolio .block {
    margin-bottom: 3.125rem;
  }
  #popup .inner {
    padding: 0;
  }
  #popup .inner .popupbody .media {
    padding-right: 0.625rem;
  }
  .stats {
    padding: 3.125rem 0rem;
  }
  .blog {
    padding: 3.125rem;
  }
  .blog .inner {
    padding-top: 3.125rem;
  }
  .clients {
    padding: 3.125rem 0;
  }
  .clients .slider-slick {
    padding: 0;
    padding-bottom: 3.125rem;
  }
  .twitter {
    padding: 3.125rem 0;
  }
}
@media screen and (max-width: 960px) {
  .header .left-part,
  .header .right-part {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .header .left-part .inner {
    text-align: center;
  }
  .header .right-part {
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 3.125rem 0.625rem;
  }
  .header .right-part .content {
    text-align: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .header .right-part .content .nav-text {
    text-align: left;
  }
  .footer .inner .contact-form,
  .footer .inner .contacts {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
  .footer .inner .contacts .content,
  .footer .inner .contacts .media {
    margin-bottom: 1.875rem;
  }
  .wrapper {
    max-width: 960px;
  }
  .about-us .caption {
    padding: 0 3.125rem 1.875rem 3.125rem;
  }
  .about-us .caption .title {
    margin-bottom: 1.25rem;
  }
  .about-us .content .article {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 1.25rem;
  }
  .team .block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .team .block:hover .back {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .team .block:hover .front {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .team .block .back {
    display: none;
  }
  .process .caption {
    padding: 0 3.125rem 1.875rem 3.125rem;
  }
  .process .content .block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .portfolio .block {
    -ms-grid-columns: (50%) [2];
    grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: (250px) [2];
    grid-template-rows: repeat(2, 250px);
  }
  .portfolio .block > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .portfolio .block > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .portfolio .block > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .portfolio .block > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .portfolio .block .portfolio__item .front {
    display: none;
  }
  .portfolio .block .portfolio__item .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #popup .inner .popupbody .media,
  #popup .inner .popupbody .content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  #popup .inner .popupbody .media {
    padding-right: 0;
  }
  #popup .inner .popupbody .content {
    padding: 5.625rem 3.125rem;
  }
  #popup .inner .popupbody .nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0.3125rem;
  }
  #popup .inner .popupbody .nav__li {
    margin-bottom: 0;
  }
  #popup .inner .close {
    top: 2%;
    right: 5%;
  }
  .stats .block {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .stats .block .media {
    margin-bottom: 1.875rem;
  }
  .blog .inner .block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 1.875rem;
  }
  .blog .inner .block--wide {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
  #popup .inner .popupbody .media .reaction {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 576px;
  }
  .header .left-part,
  .header .left-part .inner {
    padding: 0.625rem;
  }
  .header .left-part .menu .inner {
    position: relative;
  }
  .header .left-part .menu .inner .close {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .header .left-part .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding-right: 0;
    margin: 0 auto;
  }
  .header .left-part .menu__item {
    padding: 0.625rem;
    border-right: none;
    border-bottom: 1px solid #f0d93e;
  }
  .header .left-part .inner .content {
    margin-bottom: 1.625rem;
  }
  .header .left-part .inner .media .soc-media,
  .header .left-part .inner .media .contact {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .header .left-part .inner .media .soc-media {
    margin-bottom: 0.625rem;
  }
  .header .right-part {
    padding: 0.625rem;
  }
  .header .right-part .content .btn__wrapper .btn {
    font-size: 0.75rem;
  }
  .about-us {
    padding: 0.625rem;
  }
  .about-us .caption .title {
    margin-bottom: 0.625rem;
  }
  .about-us .caption {
    padding: 0.625rem;
  }
  .about-us .content .article {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .team .block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    height: 22.1875rem;
  }
  .team .block .front,
  .team .block .back {
    padding: 0.625rem;
  }
  .process {
    padding: 0.625rem;
  }
  .process .caption .title {
    margin-bottom: 0.625rem;
  }
  .process .caption {
    padding: 0.625rem;
  }
  .process .content .block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .portfolio {
    padding: 0.625rem;
  }
  .portfolio .nav-portfolio {
    padding: 0.625rem;
  }
  .portfolio .block {
    -ms-grid-columns: (100%) [1];
    grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: (250px) [1];
    grid-template-rows: repeat(1, 250px);
  }
  .portfolio .block > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .portfolio .block .portfolio__item .back {
    padding: 0.625rem;
  }
  .portfolio .block .portfolio__item--big {
    height: 250px;
  }
  #popup .inner .popupbody .media,
  #popup .inner .popupbody .content {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  #popup .inner .popupbody .media .navigations {
    margin-bottom: 0;
  }
  #popup .inner .popupbody .media .reaction,
  #popup .inner .popupbody .content {
    padding: 0.625rem;
  }
  #popup .inner .popupbody .content__text {
    margin-bottom: 0.625rem;
  }
  .portfolio .block {
    margin-bottom: 0.625rem;
  }
  .stats {
    padding: 0.625rem;
  }
  .stats__inner .block {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .blog,
  .blog .inner {
    padding: 0.625rem;
  }
  .blog .inner .block {
    padding: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .blog .inner .block .media {
    margin-bottom: 0.625rem;
  }
  .blog .inner .block .content__title {
    margin-bottom: 0;
  }
  .twitter {
    padding: 0.625rem;
  }
  .twitter .post .icon {
    margin-bottom: 0.625rem;
  }
  .footer .inner .contact-form,
  .footer .inner .contact-form .form,
  .footer .inner .contacts {
    padding: 0.625rem;
  }
  .footer .inner .contact-form .form .btn__wrapper {
    padding-top: 0;
  }
  .footer .inner .contacts .content .company-name,
  .footer .inner .contacts .content .address,
  .footer .inner .contacts .media .soc-media {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .footer .inner .contacts .media .soc-media {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    max-width: 320px;
  }
} /* ANIMATION */
@keyframes menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
